<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/">Back</a>
    <ul>
        <% genres.forEach((genre) => { %>
            <li><%= genre.name %></li>
        <% }) %>
    </ul>
    <form action="/genres/add" method="post">
        <label for="genreName">Add a genre:</label>
        <input type="text" name="genreName" id="genreName">
        <button type="submit">Submit</button>
    </form>
</body>
</html>