* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Utilise la taille de la boîte en incluant le padding et les bordures */
}

body {
    background-color: rgb(222, 169, 189);
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: rgb(230, 230, 230);
    background-color: blueviolet;
  
  }

  .listElement{
    padding: 10px;
  }
